configuration {
    disable-history: true;
    display-drun: "Run:";
    drun-display-format: "{name}";
    icon-theme: "Papirus-Dark";
    location: 0;
    modi: "drun";
    show-icons: true;
    terminal: "alacritty";
    theme: "~/.config/rofi/square.rasi";
}

/* vim:ft=css
