configuration {
    disable-history: true;
    drun-display-format: "{name}";
    location: 0;
    modi: "drun";
    show-icons: true;
    terminal: "alacritty";
}

@theme "/home/behappier/.config/rofi/themes/square-light.rasi"

/* vim:ft=css
